/* Custom properties */
:root{
    --ff-main: "Roboto", sans-serif;
    --fw-regular: 100;
    --fw-semi-bold: 300;
    --fw-bold: 900;

    --clr-background: #1F2937;
    --clr-hero-main: #F9FAF8;
    --clr-hero-sec: #E5E7EB;
    --clr-hero-logo: #F9FAF8;
    --clr-button: #3882F6;
    --clr-info-header: #1F2937;
    --clr-quote-back: #E5E7EB;
    --clr-quote-text: #1F2937;

    --margin-main: 0px 180px;
}

/********** CSS style sheet reset ********/

/* 1. Use a more-intuitive box-sizing model */
*, *::before, *::after {
  box-sizing: border-box;
}

/* 2. Remove default margin */
*:not(dialog) {
    margin: 0; 
}

/* 3. Enable keyword animations */
@media (prefers-reduced-motion: no-preference) {
  html {
    interpolate-size: allow-keywords;
  }
}

body {
  /* 4. Add accessible line-height */
  line-height: 1.5;
  /* 5. Improve text rendering */
  -webkit-font-smoothing: antialiased;
}

/* 6. Improve media defaults */
img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

/* 7. Inherit fonts for form controls */
input, button, textarea, select {
  font: inherit;
}

/* 8. Avoid text overflows */
p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}

/* 9. Improve line wrapping */
p {
  text-wrap: pretty;
}
h1, h2, h3, h4, h5, h6 {
  text-wrap: balance;
}

/*
  10. Create a root stacking context
*/
#root, #__next {
  isolation: isolate;
}

/************* General styling ***********/

body{
  font-family: var(--ff-main);
  font-weight: var(--fw-regular);
  font-size: 0.875rem;
}

/************ Header Section***********/

.header__container{
  background-color: var(--clr-background);
  
  padding-bottom: 100px;
}

.header__top{
  display: flex;
  flex: 1;
  align-items: center;
  justify-content: space-between;
  
  margin: var(--margin-main);
  margin-bottom: 7rem;

  color: var(--clr-hero-main);
}

.header__content{
  margin: var(--margin-main);
  color: var(--clr-hero-sec);
}

h1{
  color: var(--clr-hero-main);
  font-weight: var(--fw-bold);
  font-size: 2.5rem;

  line-height: 1.1em;

  margin-bottom: 10px;
}

h2{
  font-weight: var(--fw-bold);
  font-size: 1.3rem;
  
  margin-top: 0.875rem;
}

.header__content p{
  font-weight: var(--fw-semi-bold);
  margin-bottom: 10px;
}

#main__button{
  background-color: var(--clr-button);
  color: var(--clr-hero-main);
  font-weight: var(--fw-bold);
  letter-spacing: 0.5px;


  padding: 5px 30px;
  border: none;
  border-radius: 5px;
}

.header__flex{
  display: flex;
  flex: 1;
  align-items: center;
}

.header__flex #main__image{
  background-color: gray;
  color: var(--clr-hero-main);
  font-weight: var(--fw-semi-bold);

  margin-right: 180px;
  margin-left: 30%;
  padding: 100px 120px;
  border: 1px gray solid;
}

.header__links{
  display: flex;
  gap: 30px;

  margin-top: 0.875rem;


  font-weight: var(--fw-semi-bold);
}

.header__links a{
  text-decoration: none;
  color: var(--clr-hero-main);
}

.header__links a:hover{
  text-decoration: underline;
  font-weight: var(--fw-bold);
}

/********** Information Section *************/

h3{
  font-size: 1.8rem;
  font-weight: var(--fw-bold);
  text-align: center;
  margin: 50px;
}

.info__images{
  display: flex;
  flex: 1;
  justify-content: center;
  gap: 50px;

}

.sec__image{
  width: 150px;
  height: 150px;
  border: 3px solid var(--clr-button);
  border-radius: 8% ;
}

/********** Quote Section ***********/

.quote__content{
  display: flex;
  flex: 1;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  background-color: var(--clr-quote-back);

  margin-top: 130px;
  padding-top: 110px; 
  padding-bottom: 100px;

}

.quote__content p{
  font-size: 1.8rem;
  color: var(--clr-quote-text);
  font-weight: var(--fw-semi-bold);

  margin: var(--margin-main);
  width: 700px;
}

p.quote__author{
  font-size: 1.4rem ;
  font-weight: var(--fw-bold);
  color: var(--clr-quote-text);
  text-align: right;
}


/******** Warning Section ***********/

.warning__container{
  display: flex;
  flex: 1;
  justify-content: space-between;
  align-items: center;
  overflow: hidden;
  padding: 50px 100px;
  margin: 100px 180px 50px;

  border-radius: 10px;

  background-color: var(--clr-button);
}

h4{
  font-size: 1.3rem;
  color: var(--clr-hero-main);
}

.warning__text p{
  font-size: 0.9rem;
  font-weight: var(--fw-semi-bold);
  color: var(--clr-hero-main);
}


#sec__button{
  background-color: var(--clr-button);
  color: var(--clr-hero-main);
  font-weight: var(--fw-bold);
  letter-spacing: 0.5px;


  padding: 5px 30px;
  border: 2px white solid;
  border-radius: 5px;
}

/********** Footer Section *************/

footer{
  display: flex;
  gap: 50px;
  justify-content: center;
  margin-top: 100px;
  padding: 30px;

  background-color: var(--clr-background);
}

footer p{
  color: var(--clr-hero-main);
  font-size: 1rem;
  font-weight: var(--fw-semi-bold);
}

footer a{
  text-decoration: none;
  color:lightgrey;
}

footer a:hover{
  text-decoration: underline;
}